body {
  font-family: Arial, sans-serif;
  margin: 30px;
}
.panel {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.item {
  padding: 20px;
  border: 2px solid #333;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgb(3, 68, 90);
}
.square {
  width: 100px;
  height: 100px;
  background-color: rgb(8, 180, 8);
}
.text {
  background-color: rgb(150, 7, 7);
  font-size: 18px;
}
#output {
  margin-top: 20px;
  font-size: 18px;
  color: darkblue;
}