.box, .circle, .text-block, .icon {
  margin: 10px;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.box {
  background-color: lightblue;
  width: 150px;
  height: 150px;
}

.circle {
  background-color: lightgreen;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.text-block {
  background-color: lightcoral;
  font-size: 18px;
}

.icon {
  font-size: 40px;
  color: darkorange;
}